

/* TECHNOLOGIES SECTION*/
.technologies {

    &__list {
        
        &-item {
            border-radius:$border-radius-small;
            background: $bg;
            gap:15px;
            padding:5px 15px;
            box-shadow: $bx-shadow;
            color:#fff;
            font-size:14px;
        }

    }

}